<%- include("partials/header.ejs") %>
  <h1>About Me</h1>
  <img class="profile" src="images/portfolio.jpeg" alt="cat profile">
  <p>
    Hello there! I'm Raviranjan kumar, a passionate full-stack web developer and Python enthusiast on a mission to build
    meaningful digital experiences. With a background in computer science and a knack for problem-solving, I've embarked
    on a journey to harness the power of technology and transform ideas into reality.

    My journey in web development began with a fascination for front-end design and user experience. Over the years,
    I've honed my skills in HTML, CSS, and JavaScript, mastering the art of creating visually stunning and intuitive
    interfaces. But my curiosity didn't stop there. Eager to explore the inner workings of the web, I delved into
    back-end development, learning frameworks like Django and Flask to build robust and scalable applications.

    What truly excites me about web development is its endless potential for innovation. Whether I'm experimenting with
    new frameworks, optimizing performance, or implementing machine learning algorithms, I'm driven by a desire to push
    boundaries and pioneer solutions that make a difference.

    Beyond coding, I'm also passionate about sharing knowledge and fostering community. Through writing, speaking
    engagements, and mentorship, I strive to empower aspiring developers and contribute to the growth of the tech
    industry.

    When I'm not coding, you can find me exploring the great outdoors, experimenting in the kitchen, or lost in a good
    book. Life is an adventure, and I'm always eager to embark on new journeys and embrace new challenges.

    Thank you for taking the time to learn more about me. I'm excited to connect, collaborate, and create together.
  </p>
  <%- include("partials/footer.ejs") %>