<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Welcome to Raviranjan kumar's Portfolio!

    As a full-stack web developer with a passion for Python, I specialize in crafting dynamic and innovative web
    solutions that blend creativity with functionality. From sleek front-end designs to robust back-end architectures, I
    thrive on bringing ideas to life through code.

    On this site, you'll find a showcase of my diverse projects, each representing a unique challenge and an opportunity
    for growth. Whether it's building responsive web applications, optimizing database performance, or integrating
    cutting-edge technologies, I approach every project with enthusiasm and a commitment to excellence.

    Explore my portfolio to discover:

  <p>Projects: Dive into a collection of my latest works, ranging from web applications and e-commerce platforms to
    content management systems and APIs.</p>
  <p>Skills: Learn about my proficiency in front-end technologies like HTML, CSS, and JavaScript, as well as back-end
    frameworks such as Django, Flask, and Node.js. With expertise in database management, version control, and cloud
    services, I'm equipped to tackle projects of any scale.</p>
  <p>Blog: Stay updated on industry trends, best practices, and personal insights through my blog. From tutorials and
    code snippets to reflections on emerging technologies, there's always something new to explore.
    Contact: Ready to collaborate on a project or have a question? Get in touch via email or connect with me on
    LinkedIn. I'm always open to new opportunities and exciting ventures.
    Thank you for visiting, and I look forward to sharing my journey with you.</p>
  </p>

  <%- include("partials/footer.ejs") %>